<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <!-- Database connection settings INFORMIX-->
    <!--property name="connection.driver_class">com.informix.jdbc.IfxDriver</property>
        <property name="connection.url">jdbc:informix-sqli://10.30.1.2:40000/resp_adu:INFORMIXSERVER=urrprd01prdshm</property>
        <property name="connection.username">informix</property>
        <property name="connection.password">nfrmxadu</property-->
    <!-- Database connection settings DB2 PRODUCCION-->
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <!--         <property name="connection.url">jdbc:db2://urrwas01:50001/Etiqueta</property>                -->
    <property name="connection.url">jdbc:mysql://localhost:3306/abogados?serverTimezone=UTC</property>
    <property name="connection.username">fpiceno</property>
    <property name="connection.password">fa7730pr</property>
    <!--         <property name="connection.password">Uno00200tres_</property>		 -->
    <!-- JDBC connection pool (use the built-in) -->
    <property name="connection.pool_size">100</property>
    <!-- SQL dialect -->
    <!--property name="dialect">org.hibernate.dialect.InformixDialect</property-->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
    <!--property name="hibernate.c3p0.min_size">5</property>
  		<property name="hibernate.c3p0.max_size">200</property>
  		<property name="hibernate.c3p0.timeout">0</property>
  		<property name="hibernate.c3p0.max_statements">100</property>
  		<property name="hibernate.c3p0.idle_test_period">3000</property-->
    <!-- Enable Hibernate's automatic session context management -->
    <property name="current_session_context_class">thread</property>
    <!-- Disable the second-level cache  -->
    <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
    <!-- Echo all executed SQL to stdout -->
    <property name="show_sql">true</property>
    <!-- Drop and re-create the database schema on startup -->
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.connection.release_mode">after_transaction</property>
    <mapping class="com.fpiceno.abogados.entity.Usuario" ></mapping>
    <mapping class="com.fpiceno.abogados.entity.Cliente" ></mapping>
    <mapping class="com.fpiceno.abogados.entity.Caso" ></mapping>
    <mapping class="com.fpiceno.abogados.entity.Pago" ></mapping>
    <mapping class="com.fpiceno.abogados.dto.Saldos" ></mapping>
  </session-factory>
</hibernate-configuration>
